node_modules/
.expo/
.expo-shared/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/
ios/
*.tgz
.env
.env.local
.env.production
npm-debug.*
yarn-debug.*
yarn-error.*
service-account-key.json
